* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", arial, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}

.app-container {
  text-align-last: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background: #333;
}

.app-logo {
  align-self: center;
  animation: spin 4s linear infinite;
}

.app-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ddd;
  text-align: center;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
